/* -------------------------------------------------------------------
	БЛОКИ
------------------------------------------------------------------- */

.block 					{ margin-bottom:35px; overflow:hidden; position:relative }
.block:last-child 		{ margin-bottom: 0; border: none; }
.sidebar-left .block 	{ margin-bottom: 10px; }

.block h3 { font-size: 20px; font-weight:bold; margin-bottom:5px; margin-top:0}
.block footer { float:right; padding-top:10px }

.block .max-height-200 		{ overflow: auto; max-height: 200px; _height: expression( this.scrollHeight > 200 ? "200px" : "auto" ); position: relative; }

/* Block Type - Stream */
.block .block-update 			{ position: absolute; top: 4px; right: 5px; width: 20px; height: 20px; background: url(../images/icons-synio.png) 0 -200px no-repeat; cursor: pointer; }
.block .block-update:hover 		{ background-position: -20px -200px; }
.block .block-update.active 	{ background-position: -40px -200px; }

.block.block-type-stream h3 { margin-bottom:10px }
.block.block-type-stream .block-content .latest-list { font-size: 11px; color: #999; }
.block.block-type-stream .block-content .latest-list li { padding: 9px 0px 9px 0px; overflow:hidden; border-top:1px solid #e4e4e4 }
.block.block-type-stream .block-content .latest-list li .avatar { float:left; margin-right:10px; width:30px; height:30px; margin-top:4px }
.block.block-type-stream .block-content .latest-list li .information { float:right; width:190px; position:relative }
.block.block-type-stream .block-content .latest-list li .information .user2 { font-weight: bold; font-size:12px; color: #000; text-decoration: none; background:none; padding-left:0px; margin-right:8px }
.block.block-type-stream .block-content .latest-list li .information .date { color:#9d9d9d; margin-top:-1px; font-style:Italic; font-family: Georgia }
.block.block-type-stream .block-content .latest-list li .information .topic-title { font-size:12px }
.block.block-type-stream .block-content .latest-list li .information .stream-comment-icon { position:absolute; right:0px; top:0px; background: url(../images/stream-comment-icon.png) no-repeat 0px 5px; padding-left: 13px; zoom: 1; font-style:Italic; font-family: Georgia }
.block.block-type-stream .block-content .latest-list li .information .stream-comment-icon:hover { background: url(../images/stream-comment-icon-hover.png) no-repeat 0px 5px }

/* AboutBlog */
.blockabout { border:3px solid #fff0f0; padding:10px 11px; overflow:hidden; margin-bottom:24px }
.blockabout .first-info { min-height:48px; margin-bottom:8px; overflow:hidden }
.blockabout .first-info .avatar { float:left; margin-right:12px }
.blockabout .first-info h2 { width:140px; display:table; float:left; font-size:12px; font-weight:bold; }
.blockabout .second-info { max-height:54px; margin-bottom:5px; clear:both; overflow:hidden; font-size:11px; color:#888 }
.blockabout .third-info { overflow:hidden; color:#888; font-size:11px; font-style:Italic; font-family:Georgia }
.blockabout .third-info b { color:#000; font-weight:normal }
.blockabout .fourth-info { overflow:hidden; border-top:1px solid #e4e4e4; padding-top:10px; margin-top:5px; }
.blockabout .fourth-info .voting { overflow: hidden; zoom: 1; margin-top:8px; float:left }

.blockabout .fourth-info .voting .vote-count { float: left; padding:0px 6px 0px 5px; font-weight:bold; color: #000; }
.blockabout .fourth-info .voting .vote-count a { text-decoration: none; color: #000; outline: none; }

.blockabout .fourth-info .voting.vote-count-positive .vote-count { color: #5eb600 }
.blockabout .fourth-info .voting.vote-count-negative .vote-count { color: #cf0000; }

.blockabout .fourth-info .voting .vote-up,
.blockabout .fourth-info .voting .vote-down 			{ display:block; width: 18px; height: 18px; float: left; background: url(../images/voting-comments.png) no-repeat; outline: none;  }
.blockabout .fourth-info .voting .vote-up 			    { background-position: -18px 0; }
.blockabout .fourth-info .voting .vote-down 			{ background-position: 0 0 }
.blockabout .fourth-info .voting .vote-up:hover 	    { background-position: -18px -17px }
.blockabout .fourth-info .voting .vote-down:hover 	    { background-position: 0px -17px }

.blockabout .fourth-info .voting.voted.voted-up .vote-up 			{ background-position: -18px -17px !important }
.blockabout .fourth-info .voting.voted.voted-down .vote-down 		{ background-position: 0px -17px }
.blockabout .fourth-info .voting.voted.voted-up .vote-down:hover 	{ background-position: 0 0 }
.blockabout .fourth-info .voting.voted.voted-down .vote-up:hover 	{ background-position: 0 0 }

.blockabout .fourth-info .voting.guest .vote-up:hover 	    { background-position: -18px 0; }
.blockabout .fourth-info .voting.guest .vote-down:hover 	{ background-position: 0 0 }

/* Block Type - Activity Settings */
.block.block-type-activity p 		{ margin-bottom: 15px; }
.block.block-type-activity ul li 	{  }
.block.block-type-activity ul.stream-settings-blogs li 	{ margin-bottom: 3px; }
.block.block-type-activity .note 	{ display: block; margin-bottom: 15px; color: #aaa; }


/* Block Type - Profile */
.block.block-type-profile 								{ background: none; border: none; padding: 0; }
.block.block-type-profile .profile-photo-wrapper 		{ position: relative; min-height: 50px; }
.block.block-type-profile .profile-photo 				{ vertical-align: top; max-width: 240px; }
.block.block-type-profile .status 						{ position: absolute; top: 10px; left: 0; padding: 0 0 0 10px; font-size: 11px; line-height: 18px; height: 20px; }
.block.block-type-profile .status:before 				{ content: ''; position: absolute; top: 0; right: -20px; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: #333; border-color: #333 transparent #333 #333; }
.block.block-type-profile .status.status-online			{ background: #8961e4; color: #fff; }
.block.block-type-profile .status.status-online:before 	{ border-color: #8961e4 transparent #8961e4 #8961e4; }
.block.block-type-profile .status.status-offline		{ background: #fff; color: #333; opacity: .5; filter: alpha(opacity=50); }
.block.block-type-profile .status.status-offline:before { border-color: #fff transparent #fff #fff; }
.block.block-type-profile .upload-photo 				{ padding: 10px 30px 15px 30px; background: #f8fbfe; font-size: 11px; }
.block.block-type-profile .upload-photo a 				{ color: #727a90; border-color: #727a90; }

.block.block-type-profile-note	 				{ border: 2px solid #ffe25d; padding: 15px; border-radius: 5px; }
.block.block-type-profile-note p 				{ margin-bottom: 10px; }
.block.block-type-profile-note .actions 		{ margin-bottom: 0; font-size: 11px; }
.block.block-type-profile-note .actions a 		{ color: #275ec2; border-color: #275ec2; }
.block.block-type-profile-note .actions a:hover { color: #f00; border-color: #f00; }

.block.block-type-profile-nav 					{ padding: 0; background: none; border: none; }

.block.block-type-profile-actions 						{ border: none; }
.block.block-type-profile-actions .block-content 		{ padding: 0 0 0 30px; }
.block.block-type-profile-actions ul li					{ margin-bottom: 2px; font-size: 12px; }
.block.block-type-profile-actions ul li:last-child		{ margin-bottom: 0; }   
.block.block-type-profile-actions ul li a.followed		{ color: #f00; }


/* Block Type - Foldable */
.block.block-type-foldable { background: none; }
.block.block-type-foldable .block-header { background: none; border: none; padding: 0 0 10px; }
.block.block-type-foldable .block-content { display: none; background: #fafafa; }

.block.block-type-talk-search { margin-bottom: 10px; }
.block.block-type-talk-friends { margin-bottom: 10px; }


/* Block Type - Blogs */
.block.block-type-blogs .block-blog-list { padding-top:10px }
.block.block-type-blogs .block-blog-list li { padding:9px 0px; position:relative; border-top:1px solid #e4e4e4; clear:both; height:30px; line-height:30px; overflow:hidden }
.block.block-type-blogs .block-blog-list li img { width:30px; height:30px; float:left; margin-right:10px }
.block.block-type-blogs .block-blog-list li .infa { display:table; line-height:16px; width:160px }
.block.block-type-blogs .block-blog-list li span { position:absolute; right:0px; top:0px; font-weight:bold }

/* Block Type - Blogs */
.block.block-type-blog {
	border-radius: 5px;
	padding: 10px;
	border-bottom: none;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f9fbfb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9fbfb));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	background: linear-gradient(top,  #ffffff 0%,#f9fbfb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fbfb',GradientType=0 );
}
.block.block-type-blog .block-header { margin-bottom: 0; padding: 0 7px 10px; }
.block.block-type-blog .block-header h3 { font-size: 19px; }
.block.block-type-blog .block-header h3 a { color: #275ec2; text-decoration: underline; }
.block.block-type-blog .block-content { padding: 0 7px; }
.block.block-type-blog footer { font-size: 11px; }
.block.block-type-blog footer button { }
.block.block-type-blog footer a { color: #727a90; margin-left: 7px; }


/* Block Type - Tags */
.block.block-type-tags .search-form-wrapper { margin-bottom: 15px; }

