/* Update button */
.update { 
	padding: 8px; 
	float: right; 
	position: fixed; 
	top: 220px; 
	right: 0; 
	z-index: 100;
	text-align: center; 
	background: #FAFBFB;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	_position: absolute; 
	_top: expression( eval(document.documentElement.scrollTop) + 220 +"px" );
	border-radius: 6px 0 0 6px;
}
.update .update-comments { width: 26px; height: 26px; cursor: pointer; background: url(../images/update.gif) no-repeat; }
.update .update-comments.active { background: url(../images/update_act.gif) no-repeat; }
.update .new-comments { border-top: 1px solid #e4e4e4; color: #ba1b1b; padding-top: 7px; margin-top: 3px; cursor: pointer; }


/* Comments */
.comments { margin-bottom: 50px; overflow:hidden; }
.comments .comment-wrapper { overflow: hidden; zoom: 1; position: relative; }
.comments .comment-wrapper .comment-wrapper { padding-left: 30px; }

.comment-preview { padding: 5px 10px; margin-bottom: 5px; background: #fafafa; overflow: hidden; zoom: 1; }
.comments-header { padding-left: 26px; margin-bottom: 20px; }
.comments-header h3 { font-size: 22px; font-weight:bold; }
.comments-header h3 span { font-size:11px; vertical-align:top; line-height:11px; color:#969696; font-weight:normal }

.comment .avatar { float:left; margin-right:6px }
.comment .avatar img { width:30px; height:30px; }

.comment .border-comment { margin-left:49px }

/* Comment */
.comment { margin-bottom: 20px; position: relative; padding-left: 48px; zoom: 1; }
.comment .deleted { padding: 5px 10px; color: #777; background: #f4f4f4; }
.comment .folding { width: 10px; height: 10px; position: absolute; top: 11px; left: 34px; background: url(../images/icons.gif) -20px -210px no-repeat; cursor: pointer; }
.comment .folding.folded { background-position: 0 -210px; }
.comment .goto-comment-child { display: none; }

/* Comment Highlights */
.comment .content, 						.comment .content:before					{ background-color: #ffffff; }
.comment.deleted .content, 				.comment.deleted .content:before 			{ background-color: #c5c5c5; }
.comment.deleted .content .arrow, 		.comment.deleted .content .arrow:before 	    { background: url(../images/bg-comments-left-delete.png) no-repeat }
.comment.deleted.not-admin .content, 	.comment.deleted.not-admin .content:before 	{ padding: 5px 10px; min-height: 0; background-color: #f7f7f7; color: #888; }
.comment.self .content, 				.comment.self .content:before 				{ background-color: #fffff1; }
.comment.self .content .arrow, 			.comment.self .content .arrow:before 	    { background: url(../images/bg-comments-left-self.png) no-repeat }
.comment.new .content, 					.comment.new .content:before 				{ background-color: #e4fbf1; }
.comment.new .content .arrow, 			.comment.new .content:before                { background: url(../images/bg-comments-left-new.png) no-repeat }
.comment.current .content, 				.comment.current .content:before 			{ background-color: #cdf5a6; }
.comment.current .content .arrow, 		.comment.current .content .arrow:before     { background: url(../images/bg-comments-left-current.png) no-repeat }

/* Info Block */
.comment .info { overflow: hidden; zoom: 1; margin-bottom:8px }
.comment .info li { float: left; margin-right: 8px; line-height:17px; height:17px; }
.comment .info li.username a { font-weight:bold; }
.comment .info li.date { padding-left:8px; border-left:1px solid #dbdbdb; color:#6e6e6e; font-size:11px }
.comment .info li .comment-link { margin-top:4px; background:url(../images/comment-link.png) no-repeat; width:7px; height:9px; display:block }
.comment .info li .reply-link { color:#0090ff; border-bottom:1px dotted }
.comment .info li .reply-link:hover { color:#f70000 }
.comment .info li a.favourite { margin-top:2px; width: 11px; height: 11px; background: url(../images/like-icon2.png) no-repeat }
.comment .info li a.favourite.active { background-position: 0px -11px }
.comment .info li a.favourite:hover { background-position: 0px -11px }
.comment .info li .comment-favourite { margin-top:4px; background:url(../images/comment-fav-gray.png) no-repeat; width:10px; height:10px; display:block }
.comment .info li .comment-favourite.active {  background:url(../images/comment-fav.png) no-repeat; }
.comment .info li .comment-favourite:hover {  background:url(../images/comment-fav.png) no-repeat; }  

.comment .info li.voting { overflow: hidden; zoom: 1; float:right; margin-right:0px }

.comment .info li.voting .total { float: left; padding:0px 6px 0px 5px; font-weight:bold; color: #000; }
.comment .info li.voting .total a { text-decoration: none; color: #000; outline: none; }

.comment .info li.voting.positive .total { color: #5eb600 }
.comment .info li.voting.negative .total { color: #cf0000; }

.comment .info li.voting .plus,
.comment .info li.voting .minus 			{ display:none; width: 18px; height: 18px; float: left; background: url(../images/voting-comments.png) no-repeat; outline: none; margin-top:-5px }
.comment .info li.voting .plus 			    { background-position: -18px 0; }
.comment .info li.voting .minus 			{ background-position: 0 0 }

.comment:hover .info li.voting .plus,
.comment:hover .info li.voting .minus 		{ display:block }

.comment:hover .info li.voting.voted .plus,
.comment:hover .info li.voting.voted .minus { display:none }

.comment .info li.voting .plus:hover 	    { background-position: -18px -17px }
.comment .info li.voting .minus:hover 	    { background-position: 0px -17px }

.comment .info li.voting.voted.plus .plus 			{ display:block; background-position: -18px -17px !important }
.comment .info li.voting.voted.minus .minus 		{ display:block; background-position: 0px -17px }
.comment .info li.voting.voted.plus .minus:hover 	{ background-position: 0 0 }
.comment .info li.voting.voted.minus .plus:hover 	{ background-position: 0 0 }

.comment .info li.voting.guest .plus:hover 	    { background-position: -18px 0; }
.comment .info li.voting.guest .minus:hover 	{ background-position: 0 0 }

/* Content */
.comment .content { margin-bottom:10px; border: 1px solid #e8e8e6; overflow: hidden; zoom: 1; }
.comment .content .padding { padding: 10px 17px; }
.comment .content .arrow { position:absolute; top:0px; left:85px; display:block; width:13px; height:30px; background: url(../images/bg-comments-left.png) 0 0 no-repeat; }
.comment .content .text-style { color: #232323; line-height:21px; }
.comment pre, .comment-preview pre { overflow: auto; width: 95%; padding: 5px 2%; margin-bottom: 10px; background: #f8f8f8 url(../images/code.gif); border: 1px solid #dce6f0; clear: both; }
.comment blockquote, .comment-preview blockquote {font-style: italic; padding: 5px 10px; background: #ffffff; border: 1px solid #ddd;}

/* Actions */
.comment .actions { font-size: 11px; }
.comment .actions a { text-decoration: none; }

/* Comment List */
.comments.comment-list .path { padding-bottom: 3px; font-size: 11px; font-weight: bold; color: #aaa; }
.comments.comment-list .path .blog-name { color: #999; }
.comments.comment-list .path .comments-total { color: #78C658; background: url(../images/comment-total.gif) no-repeat 0 4px; padding-left: 10px; margin-left: 10px; font-weight: normal; text-decoration: none; }
.comments.comment-list .comment { padding-left: 0; }

/* Reply Form */
.reply-area { padding-left: 26px; }

.reply { padding:10px 0px 10px 26px }
.reply-area h4 a { font-size:16px; font-weight:bold }
.reply .markItUp { width: 100%; }
.reply .markItUpHeader { width: 100%; }
.reply textarea { height: 100px; width: 100%; }
.reply textarea.loader { background: #f7f7f7 url(../images/loader.gif) no-repeat center;}