.input-wide { width: 99%; _width: 97%; padding: 1px; }
select { width:100% !important }

.input-100 { width: 100px; padding: 2px; }
.input-200 { width: 200px; padding: 2px; }
.input-300 { width: 300px; padding: 2px; }
.note { font-size: 12px; color: #aaa; }
.checkbox { position: relative; top: 2px; margin: 0 4px 0 1px; }
.question-list { margin-bottom: 15px; }
.question-list li { margin-bottom: 5px; }
.question-list li input { margin-right: 5px; }


.markItUp { width: 100%; }
.markItUpEditor { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }
.markItUpHeader { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; height: 28px; }


.button {
  height:29px;
  line-height:28px;
  padding:0px 20px;
  background:#fff url(../images/bg-button.png) repeat-x bottom;
  border:1px solid #e3e3e3;
  border-right:1px solid #dadada;
  border-bottom:1px solid #c3c3c3;
  cursor: pointer;
  text-transform: uppercase
}

.button2 { float:right; margin-left:8px; }
.button2 em { background:url(../images/bg-button2.png) no-repeat 0px -66px; width:6px; height:33px; float:left }
.button2 input { background:url(../images/bg-button2.png) repeat-x 0px -33px; height:33px; float:left; padding:0px 10px; border:0px; margin:0px; cursor:pointer; font-size:12px; color:#646464; text-shadow:0px 1px 0px #fff; font-weight:bold }
.button2 a { background:url(../images/bg-button2.png) repeat-x 0px -33px; height:33px; float:left; line-height:32px; padding:0px 10px; border:0px; margin:0px; cursor:pointer; font-size:12px; color:#646464; text-shadow:0px 1px 0px #fff; font-weight:bold }
.button2 span { background:url(../images/bg-button2.png) no-repeat; width:6px; height:33px; float:right }

.button2:hover em { background:url(../images/bg-button2-hover.png) no-repeat 0px -66px }
.button2:hover input { background:url(../images/bg-button2-hover.png) repeat-x 0px -33px; color:#b0b0b0 }
.button2:hover a { background:url(../images/bg-button2-hover.png) repeat-x 0px -33px; color:#b0b0b0 }
.button2:hover span { background:url(../images/bg-button2-hover.png) no-repeat }