/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

#container 	{ margin:0 auto; min-height:100%; position:relative }
#header 	{ height: 192px; margin-left:26px; overflow: hidden; zoom: 1 }
#wrapper 	{ overflow: hidden; zoom: 1; margin-top:30px; padding-bottom:40px; }
#content 	{ width: 730px; float: left; overflow:hidden; padding-left:26px; }
#sidebar	{ width: 230px; float: right; }
#footer 	{ overflow: hidden; zoom: 1; height:164px; margin-top:-164px; background:#f1f1f1; position:relative; }

#wrapper.no-sidebar				{ background-image: none; }
#wrapper.no-sidebar #content 	{ width: 100%; margin-right: 0; }       