html,body { height: 100%; }

body {
	font: 12px/18px Arial, Sans-Serif;
	color: #000;
	background: #fff url(../images/bg.png) repeat-x top;
}

h1, h2, h3, h4, h5, h6 { font: normal 18px Arial, Sans-Serif; line-height: 1.3em; margin-bottom: 0.3em; color: #000; }
h2 { font-size: 22px; margin-bottom: 10px; }
h2 span { color: #6EC80D; }
h3 { font-size: 18px; }


a 			{ color: #000; text-decoration:none; }
a:hover 	{ color:#f70000; }

a.dashed { text-decoration: none; border-bottom: 1px dashed #70AAE0; }

p { margin-bottom: 18px; }


.inside { margin:0 0 40px 26px; overflow:hidden }
.inside h2 { font-size:22px; font-weight:bold; margin-bottom:16px; }





