.topic { margin-bottom: 50px; padding-left: 26px; position: relative; zoom: 1;}

/* Title */
.topic .date { color:#6e6e6e; margin-bottom:3px; font-family:Georgia; font-style:Italic }
.topic .title { font-size: 22px; margin-bottom:2px; font-weight:bold }

/* Content */
.topic .content { overflow: hidden; zoom: 1; font-size: 12px; color:#232323; line-height: 21px; margin:0px 0px 22px 22px }
.topic .content a { color:#0090ff; text-decoration:underline }
.topic .content a:hover { color:#f70000; }
.topic .content p { margin-bottom: 18px; }
.topic .content h4 { font-size: 22px; line-height: 1.3em; margin-bottom: 10px; }
.topic .content h5 { font-size: 20px; line-height: 1.3em; margin-bottom: 10px; }
.topic .content h6 { font-size: 18px; line-height: 1.3em; margin-bottom: 10px; }
.topic .content blockquote { background: #fafafa; padding: 10px 15px; color: #555; margin-bottom: 5px; clear: both; }
.topic .content pre, .comment .content pre { overflow: auto; width: 95%; padding: 5px 2%; margin-bottom: 10px; background: #f8f8f8 url(../images/code.gif); border: 1px solid #dce6f0; clear: both; }
.topic .content ul { list-style-type: disc; margin-left: 17px; }
.topic .content ol { list-style-type: decimal; margin-left: 30px; }
.topic .content img[align="right"] { margin: 4px 0 5px 15px; }
.topic .content img[align="left"] { margin: 4px 15px 10px 0; }
.topic .content img.image-center { display: block; margin: 0 auto; }

/* Tags */
.topic .tags { clear:both; overflow:hidden; color:#999; margin-bottom:20px; margin-left:22px; padding-left:20px; background:url(../images/tags-icon.png) no-repeat }
.topic .tags a { font-size:11px; text-decoration:underline; color:#999 }
.topic .tags a:hover { color:#353535 }

/* Info */
.topic .info-top { margin-bottom: 15px; }
.topic .info-top li { display:inline-block; color:#6e6e6e; font-family:Georgia; font-style:Italic; margin-right:10px }
.topic .info-top li.writer a { font-family:Arial; font-style:normal }
.topic .info-top li.view { color:#000; background:url(../images/view-icon.png) no-repeat 0px 5px; padding-left:14px }
.topic .info-top li.comments-link a { background: url(../images/stream-comment-icon.png) no-repeat 0px 4px; padding-left: 14px; }
.topic .info-top li.comments-link a:hover { background: url(../images/stream-comment-icon-hover.png) no-repeat 0px 4px; color:#f70000 }
.topic .info-top li.delete a { color:#fc0000 }     

.topic .info { background: url(../images/grey-line.png) repeat-x 0px 9px; height:29px; clear: both; color: #B9B9B9;}

.topic .info ul { background: #fff; float: left; margin: -1px 0 0 -2px; padding: 0 4px 0 0; }
.topic .info ul li { font-size:11px; margin-right:5px; color:#383838; float:left; }
.topic .info ul li a { float:left; display:block }
.topic .info ul li.share { margin-right:10px }
.topic .info ul li.vk a { background:url(../images/vk-icon.png) no-repeat; width:17px; height:17px }
.topic .info ul li.fb a { margin-top:1px; background:url(../images/fb-icon.png) no-repeat; width:15px; height:15px }
.topic .info ul li.tw a { margin-top:3px; background:url(../images/tw-icon.png) no-repeat; width:16px; height:13px }
.topic .info ul li.lj a { margin-top:1px; background:url(../images/lj-icon.png) no-repeat; width:17px; height:17px }

.topic .info .rating { float:left; margin-left:160px; background:#fff; padding:0px 8px }

/* Voting */
.topic .info .rating .voting { overflow: hidden; zoom: 1; height:26px; margin-top:-4px; border:1px solid #d6d6d6; border-radius:3px; box-shadow:0px 1px 0px #a3a3a3 }

.topic .info .rating .voting .total { float: left; font-weight:bold; line-height:26px; font-size:14px; color: #000; }
.topic .info .rating .voting .total a { text-decoration: none; color: #000; outline: none; }

.topic .info .rating .voting.positive .total { color: #5eb600 }
.topic .info .rating .voting.negative .total { color: #cf0000; }

.topic .info .rating .voting .plus,
.topic .info .rating .voting .minus 			{ width: 9px; height: 8px; float: left; margin:0px 10px;  display: block; background: url(../images/voting-topic.png) no-repeat; position: relative; top: 9px; outline: none; }
.topic .info .rating .voting .plus 			    { background-position: 0 0; }
.topic .info .rating .voting .minus 			{ background-position: -9px 0; }
.topic .info .rating .voting .plus:hover 	    { background-position: 0px -8px }
.topic .info .rating .voting .minus:hover 	    { background-position: -9px -8px }

.topic .info .rating .voting.voted.plus 	.plus 			{ background-position: 0px -8px }
.topic .info .rating .voting.voted.minus .minus 			{ background-position: -9px -8px }
.topic .info .rating .voting.voted.plus 	.minus:hover 	{ background-position: -9px 0; }
.topic .info .rating .voting.voted.minus .plus:hover 	    { background-position: 0 0; }

.topic .info .rating .voting.guest .plus:hover 	            { background-position: 0 0; }
.topic .info .rating .voting.guest .minus:hover 	        { background-position: -9px 0; }

/* Favourite */
.topic .favourite { position: absolute; top: 26px; left:0px; height: 18px; width: 18px; background: url(../images/like-icon.png) no-repeat }
.topic .favourite:hover { background-position:0px -18px }
.topic .favourite.active { background-position:0px -18px }

/* Poll */
.topic .poll { margin-bottom: 15px; font-size: 14px; margin-left:22px; }

.topic .poll .poll-vote { margin-bottom: 10px; margin-left: 0; list-style-type: none; }
.topic .poll .poll-vote li { margin-bottom: 5px; }
.topic .poll .poll-vote li label { display: inline; }

.topic .poll .poll-result { margin-bottom: 10px; margin-left: 0; list-style-type: none; font-family: Verdana, sans-serif; }
.topic .poll .poll-result li { margin-bottom: 20px; font-size:12px; }
.topic .poll .poll-result li dl { overflow: hidden; zoom: 1; }
.topic .poll .poll-result li dl dt { float: left; width: 50px; text-align: right; padding-right: 15px; }
.topic .poll .poll-result li dl dt span { color: #aaa; }
.topic .poll .poll-result li dl dd { float: left; width: 400px; }
.topic .poll .poll-result li dl dd div { height: 5px; margin-top: 5px; background: #ccc; overflow: hidden; border-radius: 3px; box-shadow: 0 1px 0 #939393 inset; }
.topic .poll .poll-result li.most dl dd div { color: #fff; background: #f70000; border-color: #83DC5F; box-shadow: 0 1px 0 #f80000 inset; border-radius: 3px; }

.topic .poll .poll-total { color: #aaa; }


/* ����� �������� ������
------------------------------------------------ */
.topicshort { overflow:hidden; display:inline-block; *display:inline; width:207px; vertical-align:top; height:178px; padding:13px 11px 12px 11px; margin:0px 15px 15px 0px; border:1px solid #e2e2e2; border-right:1px solid #d1d1d1; border-bottom:1px solid #c4c3c4; position: relative; zoom: 1;}
.topicshort .title { font-weight:bold; font-size:16px }
.topicshort .inform { height:139px; overflow:hidden }

.topicshort .content { overflow: hidden; zoom: 1; color:#232323; line-height:18px }

.topicshort .info { overflow: hidden; zoom: 1; height:30px; padding-top:10px; border-top:1px dashed #cfcfcf }
.topicshort .info li { float: left; margin-right: 10px; line-height:13px; }
.topicshort .info li.avatar img { width:30px; height:30px; }
.topicshort .info li.username { font-style:Italic;  font-family:Georgia; color:#9d9d9d }
.topicshort .info li.username a { font-family:Arial; font-weight:bold; font-style:normal }
.topicshort .info li.comments-link { float:right; margin-right:0px }
.topicshort .info li.comments-link a { background: url(../images/stream-comment-icon.png) no-repeat 0px 4px; padding-left: 16px; font-style:Italic; font-family:Georgia; color:#9d9d9d }
.topicshort .info li.comments-link a:hover { background: url(../images/stream-comment-icon-hover.png) no-repeat 0px 4px; color:#f70000; }

/* Topic Photo */
.topicshort.photo1 { padding:0px 0px 12px 0px; height:190px; width:229px; }
.topicshort.photo1 .title { padding-left:12px; padding-right:12px; line-height:39px  }
.topicshort.photo1 .inform { height:152px }
.topicshort.photo1 .info { margin:0px 13px 0px 12px; border-top:1px dashed #cfcfcf }
.topicshort.photo1 .topic-photo-preview { position: relative; cursor: pointer; }
.topicshort.photo1 .topic-photo-preview img { vertical-align: top; width:229px; height:116px; }
.topicshort.photo1 .topic-photo-preview .topic-photo-count { cursor: pointer; position: absolute; bottom: 5px; right: 8px; background: #000; color: #fff; font-size:11px; padding:0px 4px; background: rgba(0,0,0,.4); }
.topicshort.photo1 .topic-photo-preview .topic-photo-count span { background:url(../images/photo-icon.png) no-repeat 0px 1px; padding-left:18px }

.topicshort.photo2 { padding:0px 0px 12px 0px; height:262px; width:354px; }
.topicshort.photo2 .title { padding-left:12px; padding-right:12px; line-height:39px }
.topicshort.photo2 .inform { height:222px }
.topicshort.photo2 .info { margin:0px 13px 0px 12px; border-top:1px dashed #cfcfcf }
.topicshort.photo2 .topic-photo-preview { position: relative; cursor: pointer; }
.topicshort.photo2 .topic-photo-preview img { vertical-align: top; width:354px; height:186px; }
.topicshort.photo2 .topic-photo-preview .topic-photo-count { cursor: pointer; position: absolute; bottom: 5px; right: 8px; background: #000; color: #fff; font-size:11px; padding:0px 4px; background: rgba(0,0,0,.4); }
.topicshort.photo2 .topic-photo-preview .topic-photo-count span { background:url(../images/photo-icon.png) no-repeat 0px 1px; padding-left:18px }

.topic.photo .topic-photo-preview { margin-left:22px }
.topic.photo .topic-photo-preview .topic-photo-desc { display: none; width: 96%; padding: 7px 2%; position: absolute; bottom: 0; left: 0; background: #000; color: #6bd24b; color: #fff; line-height: 16px; background: rgba(0,0,0,.7); }
.topic.photo .topic-photo-preview { position: relative; margin-bottom: 15px; cursor: pointer; }
.topic.photo .topic-photo-preview img { vertical-align: top; }
.topic.photo .topic-photo-preview .topic-photo-count { cursor: pointer; position: absolute; bottom: 5px; right: 8px; background: #000; color: #fff; font-size:11px; padding:0px 4px; background: rgba(0,0,0,.4); }
.topic.photo .topic-photo-preview .topic-photo-count span { background:url(../images/photo-icon.png) no-repeat 0px 1px; padding-left:18px }

.topic.photo .topic-photo-images { padding-top: 10px; margin-bottom: 15px; margin-left:22px }
.topic.photo .topic-photo-images h2 { border-bottom: 1px solid #ddd; padding-bottom: 4px; margin-bottom: 15px; }
.topic.photo .topic-photo-images ul { overflow: hidden; zoom: 1; }
.topic.photo .topic-photo-images ul li { float: left; margin: 0 9px 9px 0; position: relative; }
.topic.photo .topic-photo-images ul li .image-number { display: none; position: absolute; top: 5px; right: 5px; background: #000; color: #6bd24b; padding: 1px 6px; font-size: 11px; background: rgba(0,0,0,.6); }
.topic.photo .topic-photo-images ul li:hover .image-number { display: block; }
.topic.photo .topic-photo-images ul li img { vertical-align: top; }
.topic.photo .topic-photo-images .topic-photo-more { display: block; border-top: 1px solid #dbe6f0; text-align: center; padding: 10px 0; margin-bottom: 15px; text-decoration: none; background: #f3f7fa; color: #7b90a5; }
.topic.photo .topic-photo-images .topic-photo-more:hover { background: #eaf2f8; }

.topic-photo-upload { background: #fafafa; padding: 15px 15px 15px; margin-bottom: 20px; }
.topic-photo-upload h2 { margin-bottom: 15px; }
.topic-photo-upload ul { overflow: hidden; zoom: 1; }
.topic-photo-upload ul li { min-height: 100px; _height: 100px; margin-bottom: 10px; padding-left: 110px; position: relative; }
.topic-photo-upload ul li img { position: absolute; top: 0; left: 0; }
.topic-photo-upload ul li label { color: #aaa; }
.topic-photo-upload ul li textarea { border: 1px solid #ddd; width: 350px; height: 60px; padding: 3px; font-size: 12px; font-family: Arial, sans-serif; color: #333; }
.topic-photo-upload ul li .image-delete { text-decoration: none; margin-right: 15px; }
.topic-photo-upload ul li .image-delete:hover { color: #f00; }
.topic-photo-upload ul li.marked-as-preview .mark-as-preview { display: inline; color: #43c70f; font-weight: bold; }
.topic-photo-upload ul li .mark-as-preview { display: none; text-decoration: none; }
.topic-photo-upload ul li:hover .mark-as-preview { display: inline; }
.topic-photo-upload .topic-photo-upload-rules { color: #888; margin-bottom: 15px; }
.topic-photo-upload .topic-photo-upload-input { margin-bottom: 20px; }
.topic-photo-upload .topic-photo-upload-input input { margin-top: 3px; }

#photoset-upload-form {
	width: 270px;
	padding: 15px;
	position: absolute;
	top:70%;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 10px #ddd;
	-webkit-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}
#photoset-upload-form p { margin-bottom: 10px; }
#photoset-upload-form .input-text { width: 262px; border: 1px solid #ccc; margin: 0; padding: 3px; font-family: Arial, sans-serif; font-size: 12px; }