<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Simple template</lang>
	</name>
	<author>
		<lang name="default">LiveStreet Developers Team</lang>
	</author>
	<homepage>http://livestreetcms.com</homepage>
	<version>3.1</version>
	<requires>
		<livestreet>1.*</livestreet>
		<plugins>
			<plugin>mainpreview</plugin>
		</plugins>
	</requires>
	<description>
		<lang name="default">Plugin for Simple template</lang>
		<lang name="russian">Плагин для шаблона Simple</lang>
	</description>
</plugin>